a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

.item-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh 0;
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
  text-align: center;
}

.item-name {
  font-size: 3.5vh;
}

.item-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list {
  margin: 0px 1vw;
}