<%= render "shared/header" %>
  <div class="main-title" >
    <div class='top-contents'>
      <div class="subtitle">
        <p>どんどん増える子供の作品は写真にして永久保存！</p>
      </div>
      <div class="top-image" >
        <%=  image_tag "top_image.png", class:"image" %>
      </div>
    </div>
  </div>
<%= render "shared/footer" %>