// Place all the styles related to the creators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-family: serif;
}

.cover-index {
  height: 100%;
  width: 100%;
  background-image: url(/assets/sample.jpg);
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.justify-content-center {
  text-align : center;
}

.font-weight-normal mt-5 mb-5 {
  margin-bottom: 10px;
}