/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

.header {
  width: 100vw;
  background-color: #63f990cb ;
  padding: 10px 0;
  height: 70px;
  align-items: center;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav__left {
  color: #ffffff;
  padding-left: 30px;
  display: flex;
}

.logo {
  height: 60px;
  width: 300px;
}

.nav__right {
  padding: 14px 30px 0 0;
}
.nav__btn{
  padding: 0.4em 1.6em;
  font-size: 0.9em;
  color: #ff0000;
  text-decoration: none;
  user-select: none;
  border: 1px #ff0000 solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.error-alert {
  display: flex;
  justify-content: center;
  margin-bottom: 1vh;
}

.error-message {
  font-size: 1.3vw;
  list-style: circle;
  color: rgb(182, 48, 0);
}

.center {
  text-align: center;
}

.footer {
  width: 100vw;
  background-color: #63f990cb ;
  padding: 10px 0;
  height: 70px;
  align-items: center;
}
.footer__left {
  width: 100%;
  display: flex;
  justify-content: right;
}

.main-title {
  height: 100%;
}